/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: white;
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);


@font-face
{
   font-family: "Beba";
   src: url("../../fonts/bebas_light.ttf") format("truetype"),
}


/*  ################################################################
  1. GENERAL STRUCTURES
################################################################# */

/* Import fonts */
@import url(https://fonts.googleapis.com/css?family=Amatic+SC);


* { 
  margin: 0;
  padding: 0px;
} 
body { 
  background: #fff; 
  margin: 0; 
  color: #5a5a5a;
}

html,
body {
  height: 100%;
}

.alignleft { float: left; }
.alignright { float: right; }
.aligncenter {
  margin-left: auto;
  margin-right: auto;
  display: block;
  clear: both;
}
.centered {text-align: center}
.mt {margin-top: 50px;}
.mb {margin-bottom: 50px;}
.mtb {margin-top: 50px; margin-bottom: 50px;}
.mtb2 { margin-top: 100px; margin-bottom: 100px;}
.ptb {padding-top: 80px; padding-bottom: 80px;}

::-moz-selection  {
  color: #fff;
  text-shadow:none;
  background:#2B2E31;
}
::selection {
  color: #fff;
  text-shadow:none;
  background:#2B2E31;
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a { 
  padding: 0;
  margin: 0;
  text-decoration: none; 
  -webkit-transition: background-color .4s linear, color .4s linear;
  -moz-transition: background-color .4s linear, color .4s linear;
  -o-transition: background-color .4s linear, color .4s linear;
  -ms-transition: background-color .4s linear, color .4s linear;
  transition: background-color .4s linear, color .4s linear;
  color: #1abc9c;
}
a:hover,
a:focus {
  text-decoration: none;
  color:#696E74;
}

.nopadding {
  padding: 0px !important;
  margin: 0px;
}



/*Buttons Configuration */
.btn-conf {
  border-radius: 50px;
  margin-right: 15px;
  font-size: 11px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 18px 28px 17px 28px;
  }

.btn-conf-2 {
  border-radius: 50px;
  margin-right: 15px;
  font-size: 11px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 12px 28px 11px 28px;
  margin-top: 20px;
  } 

.btn-green {
  background: #03C9A9;
  color: black;
  opacity: 0.7;
}

/* HEADER SECTION */

#far-away {
  letter-spacing: 0.37em;
  font-family: 'Beba';
  font-size: 3em;
}

#h {
  background: url(../assets/img/portfolio-bg.jpg) no-repeat center top;
  padding-top: 180px;
  text-align:center;
  background-attachment: relative;
  background-position: center center;
  min-height: 700px;
  width: 100%;
  color: white;
  font-family: 'Beba';
  
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#h .logo {
  top: 30px;
  left: 45px;
  font-size: 18px;
  font-weight: 900;
  position:absolute;
  letter-spacing: 0.3em; 
}

#h .social {
  top: 30px;
  right: 90px;
  font-size: 20px;
  position: absolute;
}

#h .social i {
  margin-left: 20px;
}

#h .social a {
  color: white;
  opacity: 0.8;
}

#h h1 {
  font-weight: 700;
  color: white;
  font-size: 40px;
}

.flags{
  opacity: 0.7;
}
//-------------------------


/* MENU CONF*/

.menu {
  position: fixed;
  right: -200px;
  width: 260px;
  height: 100%;
  top: 0;
  z-index: 10;
  text-align: left;
}

.menu.menu-open {
  right: 0px;
}

.menu-wrap {
  position: absolute;
  top: 0;
  left: 60px;
  background: #1a1a1a;
  width: 200px;
  height: 100%;
  opacity: 0.9;
}

.menu h1.logo a {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 0.15em;
  line-height: 40px;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 20px;
}

.menu h1.logo a:hover {
  color: #f85c37;
}

.menu img.logo {
  margin: 20px 0;
  max-width: 160px;
}

.menu a {
  margin-left: 20px;
  color: #808080;
  display: block;
  font-size: 12px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.menu a:hover {
  color: #ffffff;
}

.menu a:active {
  color: #ffffff;
}

.menu a > i {
  float: left;
  display: inline-block;
  vertical-align: middle; 
  text-align: left;
  width: 25px;
  font-size: 14px;
  line-height: 40px;
  margin: 25px 2px;
}

.menu-close {
  cursor: pointer;
  display: block;
  position: absolute;
  font-size: 14px;
  color: #808080;
  width: 40px;
  height: 40px;
  line-height: 40px;
  top: 20px;
  right: 5px;
  -webkit-transition: all .1s ease-in-out;
     -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
     -o-transition: all .1s ease-in-out;
      transition: all .1s ease-in-out;
}

.menu-close:hover {
  color: #ffffff;
  -webkit-transition: all .1s ease-in-out;
     -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
     -o-transition: all .1s ease-in-out;
      transition: all .1s ease-in-out;
}

/* Push the body after clicking the menu button */
.body-push {
  overflow-x: hidden;
  position: relative;
  left: 0;
}

.body-push-toright {
  left: 200px;
}

.body-push-toleft {
  left: -200px;
}

.menu,
.body-push {
  -webkit-transition: all .3s ease;
     -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
     -o-transition: all .3s ease;
      transition: all .3s ease;
}

#menuToggle {
  position: absolute;
  top: 20px;
  left: 0;
  z-index: 11;
  display: block;
  text-align: center;
  font-size: 14px;
  color: #ffffff;
  width: 40px;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  background: rgba(0,0,0,0.25);
  -webkit-transition: all .1s ease-in-out;
     -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
     -o-transition: all .1s ease-in-out;
      transition: all .1s ease-in-out;
}

#menuToggle:hover {
  color: #ffffff;
  background: rgba(0,0,0,0.2);
  -webkit-transition: all .1s ease-in-out;
     -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
     -o-transition: all .1s ease-in-out;
      transition: all .1s ease-in-out;
}



/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
