  <!-- Menu -->
  <nav class="menu" id="theMenu">
    <div class="menu-wrap">
      <h2 class="logo"><a style="color: #03C9A9;" href="">StartLance</a></h2>
      <i class="ion-chevron-right menu-close"></i>
      <a href="" class="smoothScroll">Servicios</a>
      <a href="" class="smoothScroll">nosotros</a>
      <a href="" class="smoothScroll">Contacto</a>
      <a><img id="vzla" class="flags smoothScroll" src="../assets/img/icons/Venezuela.png"></img></a>
    </div>
    
    <!-- Menu button -->
    <div id="menuToggle"><i class="ion-navicon"></i></div>
  </nav>
  <div id="h">
    <div class="logo">StartLance</div>
    <div class="social hidden-xs">
      <a class="social_icon" href="#"><i class="ion-social-twitter"></i></a>
      <a class="social_icon" href="#"><i class="ion-social-instagram"></i></a>
      <a class="social_icon" href="#"><i class="ion-social-facebook"></i></a>
    </div>
    <br>
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1 centered">
          <h6 id="far-away">Bienvenido a nuestro portal<br/>Ingrese & preparese para disfrutar de nuestra creativa plataforma.</h6>
          <div class="mtb">
            <form class="form">
              <button ui-sref="session" class='btn btn-conf btn-green' type="submit">Ingresar</button>
              <button class='btn btn-conf btn-green' type="submit">Ver proyectos</button>
            </form>
          </div><!--/mt-->
          <h6 style="letter-spacing: 0.4em;">HECHO POR CREATIVOS - PARA CREATIVOS</h6> <h6 class="malarkeyOne" style="letter-spacing: 0.2em;"></h6>
        </div>
      </div><!--/row-->
    </div><!--/container-->
  </div><!-- /H -->