<div class="container-fluid" id="session-back">
  <nav style="background-color: rgba(3, 203, 169, 0.4);" class="navbar navbar-default navbar-fixed-top navbar-space">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a id ="close-btn" href="" ui-sref="home2" class="navbar-brand ion-close-round" style="color: white; opacity: 0.8;"></a>
      </div>
    </div><!-- /.container-fluid -->
  </nav>
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4 form-box text-center">
      <a href=""><img id="tokio" src="../assets/img/s4.png" hidden="true"></a>
      <a ng-model="uk" href=""><img id="uk" src="../assets/img/s1.png"></a>
      <a href=""><img id="idk" src="../assets/img/s2.png" hidden="true"></a>
      <a href=""><img id="paris" src="../assets/img/s3.png" hidden="true"></a>
    </div>

    <div class="col-sm-6 col-sm-offset-3 form-box">
      <div class="col-sm-8 col-sm-offset-2 form-box">
        <form>
          <div class="alert" style="background-color: rgba(3, 203, 169, 0.8); color: white;">
            <h6> INGRESE SUS DATOS</h6>
          </div>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon ion-ios-email"></span>
              <input type="text" class="form-control" placeholder="Email / Correo" aria-describedby="basic-addon1" ng-model="session.email">
            </div>
          </div>
          <input type="password" class="form-control" placeholder="Password / Contraseña" aria-describedby="basic-addon1" ng-model="session.password">
        </form>
        <br>
        <form>
        <p><span ng-click="Access()"><button type="button" class="btn button-custom btn-one">Inicia sesión</button></span></p>
        </form>
        <div class="text-center">
          <h5 style="color: black;">Aun no estas registrado? <a ui-sref="register" ng-click="getCountries()" style="color: rgb(3, 203, 169)">¡Registrate!</a></h5>
        </div>
      </div>
    </div>
  </div>
</div>