<div class="container-fluid" ng-init="getCountries()">
  <nav class="navbar navbar-default navbar-fixed-top navbar-space" style="background-color: rgba(212, 42, 41, 0.6);">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a href="" class="navbar-brand ion-close-round" ui-sref="home2" style="color: white;"></a>
      </div>
    </div><!-- /.container-fluid -->
  </nav>
  <div class="row" style="margin-top: 5%;">
    <div class="col-sm-4 col-sm-offset-4 form-box text-center">
      <a href=""><img id="tokio" src="../assets/img/s4.png"></a>
      <a ng-model="uk" href=""><img id="uk" src="../assets/img/s1.png" hidden="true"></a>
      <a href=""><img id="idk" src="../assets/img/s2.png" hidden="true"></a>
      <a href=""><img id="paris" src="../assets/img/s3.png" hidden="true"></a>
    </div>
    
    <div class="col-sm-6 col-sm-offset-3 form-box">
      <form>
        <div class="col-sm-8 col-sm-offset-2 form-box">
          <div class="alert alert-info" style="background-color: rgba(212, 42, 41, 0.8);">
            <h7 style="color: white;"> Bienvenido a StartLance</h7>
          </div>
          <input type="text" class="form-control" placeholder="Nombre" aria-describedby="basic-addon1" ng-model="user.name">
          </br>
          <input type="text" class="form-control" placeholder="Apellido" aria-describedby="basic-addon1" ng-model="user.last_name">
          </br>
          <input type="text" class="form-control" placeholder="Cédula de identidad" aria-describedby="basic-addon1" ng-model="user.id_number">
          </br>
          <input type="text" class="form-control" placeholder="Edad" aria-describedby="basic-addon1" ng-model="user.age">
          <br>
          <div class="demo-section k-content">
            <input ng-model="user.birth_date" id="datepicker" placeholder="  DD/MM/YYYY" required="" ng-pattern = "date_regex"  style="width: 100%" />
          </div>
          <br>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon ion-earth"></span>
              <select class="form-control" name="pais" ng-model="user.nationality">
                <option ng-repeat ="country in countries" value="{{country.country}}">{{country.value}} - {{country.country}}</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon ion-ios-email"></span>
              <input type="text" class="form-control" placeholder="email (example@example.com)" ng-model="user.email">
            </div>
          </div>

          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon ion-person"></span>
              <input type="text" class="form-control" placeholder="username (4 to 12 characters)" aria-describedby="basic-addon" ng-model="user.username">
            </div>
          </div>

          <input type="password" class="form-control" placeholder="Password ¡Shhh! (6 to 20 characters)" aria-describedby="basic-addon1" ng-model="user.password">
          <br>
          <p style="text-align: center;"><span ng-click="Access()"><button type="button" class="btn btn-info" style="background-color: rgba(212, 42, 41, 0.8);">Registrate</button></span></p>
        </div>
      </form>
    </div>
  </div>
</div>
